<section class="card">
  <a href="/surveys/{{id}}">
    <header class="header-2">{{name}}</header>
  </a>

  <img src="{{profilePic}}" alt="Profile Picture">
</section>


{{!-- <section class="card">
  <a href="/gallery/{{id}}">
    <header class="header-2">{{name}}</header>
    <img src="/images/{{paintings.[0].filename}}">
  </a>
</section> --}}