<section class="card">
  <a href="/surveys/{{id}}">

    <div class="card-body">
   <img src="{{profilePic}}">
    </div>
  </a>
</section>

{{!-- <section class="card">
  <a href="/painting/{{id}}">
    <header class="header-2">{{title}}</header>

    <div class="card-body">
   <img src="/images/{{filename}}">
    </div>
  </a>
</section> --}}