{{!-- survey answers displayed on user profiles --}}
<section class="container">
  <img src="{{surveys.profilePic}}" alt="Profile Picture" class="profile-image">
  <h3 class="gallery-name">{{surveys.name}}</h3>
  <h5 class="questions">Contact:</h5> <span class="answer">{{users.email}}</span>
  <h5 class="questions">Age:</h5> <span class="answer">{{surveys.ageRange}}</span>
  <h5 class="questions">Bio:</h5> <span class="answer">{{surveys.bio}}</span>
  <h5 class="questions">Temperature Preference:</h5> <span class="answer">{{surveys.temperature_pref}}</span>
  <h5 class="questions">Sleep and Wake Hours:</h5> <span class="answer">{{surveys.sleepWakeHours}}</span>
  <h5 class="questions">Parties:</h5> <span class="answer">{{surveys.parties}}</span>
  <h5 class="questions">Cleanliness Level: </h5>  <span class="answer">{{surveys.cleanlinessLevel}}</span>
  <h5 class="questions">Move-In Date: </h5> <span class="answer"> {{surveys.moveInDate}}</span>
  <h5 class="questions">Relationship Status: </h5> <span class="answer"> {{surveys.relationshipStatus}}</span>
  <h5 class="questions">Sharing Items:</h5> <span class="answer"> {{surveys.sharingItems}}</span>
  <h5 class="questions">Living Style:</h5>  <span class="answer"> {{surveys.livingStyle}}</span>
  <h5 class="questions">Drinking Habits:</h5>  <span class="answer"> {{surveys.drinkingHabits}}</span>
  <h5 class="questions">Smoking: </h5> <span class="answer">{{surveys.smoking}}</span>
  <h5 class="questions">Decoration Style: </h5>  <span class="answer">{{surveys.decorationStyle}}</span>
  <h5 class="questions">Cleaning Tasks:</h5> <span class="answer">{{surveys.cleaningTasks}}</span>
  <h5 class="questions">Bathroom: </h5> <span class="answer"> {{surveys.bathroom}}</span>
  <h5 class="questions">Pet Peeves: </h5>  <span class="answer"> {{surveys.petPeeves}}</span>
  <h5 class="questions">Time Spent In Apartment: </h5>  <span class="answer"> {{surveys.timeSpentInApartment}}</span>
  <h5 class="questions">Political Status: </h5>  <span class="answer">{{surveys.politicalStatus}}</span>

{{!-- loop through survey URL and display --}}
  <section>
    {{#each surveys.url as |url|}}
    {{/each}}
  </section>
</section>

